:root {
  --primary-color: #EBD8FF;
  --background-color: #320352;
  --light-color:#FFFFFF;
  --button-text-color: #373737;
  --button-followed-color: #5CD3A8;
}

body {
  background-color: #320352;
  background-image: url('./assets/main-page-bg-min.png');
  background-size: auto 100%;
  background-position: center center;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: var(--primary-color);
  width: auto;
  height: 100vh;
  padding-bottom: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
